/*****************************************/
/************COMMON**********************/
/***************************************/
html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}


html{
	color: #fff;
}

h1{
	font-size: 45px;
	margin-top: -17px;
}
h1,
h2{
	text-align: center;
}
body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.604), rgba(0, 0, 0, 0.604)), url("image/s.jpg");
	background-position: center;
	background-size: cover;
}


/*****************************************/
/************SPEED BOX**********************/
/***************************************/
.speed-box{
	text-align: center;
	color: #fff;
	margin: 5px auto;
	width: 400px;
	height: 320px;
	border: 2px solid rgb(255, 255, 255);
}
.speed-box b{
	text-align: left;
}

header img{
	width: 4cm;
	height: 4cm;
	border-radius: 4cm;
	margin: 3px auto 0 auto;
	display: block;
}

/*****************************************/
/************BUTTON**********************/
/***************************************/
.button{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	display: inline-block;
	border-radius: 2cm;
	margin: 15px auto 0 auto;
	background-color: transparent;
	color: red;
	border: 1px solid red;
}
.button:hover,
.button:active{
	background-color: red;
	color: white;
}


/*****************************************/
/****************INPUT******************/
/***************************************/
*:focus{outline: none;}
input,
select{
	background-color: transparent;
	color: #fff;
	text-align: center;
}
input{
	margin-bottom: 30px;
}
input:hover{
	background-color: transparent;
	margin-bottom: 30px;
}
option{
	color: #000;
}
input::placeholder{
	color: #fff;
}


/*****************************************/
/****************OUTPUT******************/
/***************************************/
#out{
	margin-top: 25px;
}